@{
    ViewBag.Title = "Home Page";
}

<style>
    .table-head{
        background-color: #454d55;
        color: white;
        text-align: center;
    }
</style>

<div class="align-items-center">

    <form action="Index" method="post">

        <div class="col">

            <!-- URL input -->
            <input type="text" class="form-control" placeholder="URL" name="url" value="@ViewBag.url" style="float: left; width: 85%">

            <!-- Submit -->
            <button type="submit" class="btn btn-success" style="float: right; width: 15%">Start</button>

            <!-- if URL is not valid => show info about it -->
            <h4 class="text-danger">@ViewBag.error</h4>

        </div>



        <div class="col">

            <table class="table">
                <thead>
                    <tr>

                        <!--Headers-->
                        <th scope="col" class="table-head" style="width: 55%">
                            URL
                        </th>
                        <th scope="col" class="table-head" style="width: 15%">
                            MID Response time
                        </th>
                        <th scope="col" class="table-head" style="text-wrap: normal; width: 15%">
                            MIN Response time
                        </th>
                        <th scope="col" class="table-head" style="text-wrap: normal; width: 15%">
                            MAX Response time
                        </th>
                        
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.siteMap)
                    {
                        <tr>
                            <th scope="row">@item.url</th>
                            <th scope="row">@item.requestTime</th>
                        </tr>
                    }

                    </tbody>
                </table>

            </div>

        </form>
    </div>
